﻿@charset "UTF-8";

/* styleR.css - Style Sheet for Irucka Embry's drat repository */


/*html*/
html {
    background-color: #fff;
    text-align: left;
}

/*body*/
body {
margin: auto;
background-color: #ccccff; /*Source: https://websafecolors.info/color-chart*/
font-style: normal;
font-size: 100%;
font-family: "liberation sans", freesans, "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;
}


body#index a#menu-index,


.clear {clear:both;}
/*source: http://www.cssgirl.com/resources/2008/06/07/create-full-width-header-footer-with-centered-content-using-css/ Create Full Width Header &#038; Footer With Centered Content Using CSS | CSSgirl Dev &amp; Design*/

/*body alterations*/
hr {margin-left: 2%; margin-right: 2%;}

blockquote, blockquote p {text-align: left; margin-left: 2%; margin-right: 2%; border: none; padding: 0; font-style: normal; font-size: 100%; font-family: "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Mono L", "Nimbus Roman No 9 L", freemono, "Liberation Mono", times, palatino, "times new roman", serif;}

ul.navlist {text-align: left; margin-left: auto; margin-right: auto; font-size: 100%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", "Open Sans", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
li {text-align: left; margin-left: auto; margin-right: auto; font-size: 100%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", "Open Sans", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}

img.center {
display : block;
margin-left : auto;
margin-right : auto;
border : none;
}

img.left {
display: block;
float: left;
margin-left: auto;
margin-right: 20px;
margin-bottom: 10px;
border: none;
} /*source: http://csscreator.com/node/34100 Image and text displayed on the same line | CSS Creator*/
/*source: http://helpdeskgeek.com/how-to/image-text-wrap-css-html/ HTML Code to Wrap Text Around Image*/


h1.first {text-align: center; margin-left: auto; margin-right: auto; font-weight : 900; font-size : 150%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h1 {text-align: left; margin-left: 1%; margin-right: auto; font-weight : 900; font-size : 150%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h2 {text-align: center; margin-left: 1%; margin-right: auto; font-weight : 900; font-size : 140%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h3 {text-align: center; margin-left: 1%; margin-right: auto; font-weight : 900; font-size : 130%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h4 {text-align: center; margin-left: 1%; margin-right: auto; font-weight : 900; font-size : 120%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
h6 {text-align: center; margin-left: 1%; margin-right: auto; font-weight : 900; font-size : 67%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}

ul {text-align: left; margin-left: 3%; margin-right: auto; font-size: 100%; font-family: "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Mono L", "Nimbus Roman No 9 L", freemono, "Liberation Mono", times, palatino, "times new roman", serif;}
li {text-align: left; margin-left: 3%; margin-right: auto; font-size: 100%; font-family: "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Mono L", "Nimbus Roman No 9 L", freemono, "Liberation Mono", times, palatino, "times new roman", serif;}
li.indent  {list-style-type: none; text-indent: 2em; margin-top: 0; margin-bottom: 0; font-size: 100%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}

p {text-align: left; font-style: normal; font-size: 100%; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0;}
p#center{text-align: center; display : block; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; border: none; padding: 0; }
p#image {text-align: center; display : block; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; border: none; padding: 0; }
p#free {text-align: center; display : block; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; border: none; padding: 0; }
p span.date {font-size: 0.9em; float: right; color: #8B0000; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
p.first {text-align: center; margin-left: auto; margin-right: auto;}
p.center {text-align: center; margin-left: auto; margin-right: auto;}
p.right {text-align: right; margin-left: auto; margin-right: auto; font-size: 67%; font-family: "liberation sans", freesans, Lato, "Alegreya Sans", "Nimbus Sans L", helvetica, verdana, arial, "Arial Unicode MS", sans-serif;}
p#new {font-style: normal; font-size: 100%; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-family: "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Mono L", "Nimbus Roman No 9 L", freemono, "Liberation Mono", times, palatino, "times new roman", serif;}
p#copy1 {font-style: normal; font-size: 90%; text-align: left; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0;}
p#copy2 {font-style: normal; font-size: 90%; text-align: left; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0;}
p#attribution {text-align: left; margin-left: 2%; margin-right: 2%; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-style: normal; font-size: 100%; font-family: "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Mono L", "Nimbus Roman No 9 L", freemono, "Liberation Mono", times, palatino, "times new roman", serif;}
p#footer1 {text-align: center; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-size: 90%; font-family: "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Mono L", "Nimbus Roman No 9 L", freemono, "Liberation Mono", times, palatino, "times new roman", serif;}
p#footer2 {text-align: center; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-size: 90%; font-family: "liberation serif", freeserif, "linux libertine", "Alegreya", Gentium, "Doulos SIL", "Charis SIL", "Nimbus Mono L", "Nimbus Roman No 9 L", freemono, "Liberation Mono", times, palatino, "times new roman", serif;}

code {text-align: left; font-style: normal; font-size: 100%; margin-left: 4%; margin-right: 4%; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-family: "Nimbus Mono L", "Nimbus Roman No 9 L", freemono, "Liberation Mono", serif;}

pre {text-align: left; font-style: normal; font-size: 100%; margin-left: 4%; margin-right: 4%; margin-top: 0; margin-bottom: 0; border: none; padding: 0; font-family: "Nimbus Mono L", "Nimbus Roman No 9 L", freemono, "Liberation Mono", serif;}}



/* Special characters*/
#ipa {font-size: 100%; text-align: left; font-family: Gentium, "Doulos SIL", "Charis SIL", "liberation serif", "liberation sans", "linux libertine", freeserif, freesans, "Junicode", "Cardo", "Aborigonal Serif", "Hiragino Mincho Pro W3", "TITUS Cyberbit Basic", "Hiragino Mincho Pro W3", "Arial Unicode MS";}

/*links*/
a:link {color : #000080;} /* for unvisited links */
a:visited {color : #800080;} /* for visited links */
a:active { color: rgb(255, 0, 102); } /* when link is clicked */
a:hover { color: rgb(0, 96, 255); } /* when mouse is over link */
a:link, a:visited, a:active, a:hover {text-decoration : underline;}
